/* 
    Document   : errorStyle
    Created on : 22-Aug-2012, 12:10:24 PM
    Author     : Icewill
    Description:
        Purpose of the stylesheet follows.
*/

.text { 
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.8) , 5, 0.1 , 1, 1 );
}

